@import "tailwindcss" ;

@keyframes loading{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }

}

.loading{
    animation: loading 1.2s linear ease-in-out ;
}

@media(min-width:1000px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .country-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .kok{
        background-color: rgba(245, 245, 245, 0.901);
    }
}